@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
/* :root {
  overflow-x: hidden;
} */
.first-div {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(23, 25, 27)),
    url("https://images5.alphacoders.com/116/1160328.jpg");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.full-height {
  height: 100vh;
}
.half-height {
  height: 50vh;
}
.heading {
  width: 60vw;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
.span_one {
  transition: 1s;
}
.heading .span_two {
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
}
.heading:hover .span_one {
  opacity: 0;
  transition-duration: 0.3s;
}

.heading:hover .span_two {
  opacity: 1;
  transition-duration: 2s;
}
.span_two,
.span_one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*                                                                   SOCIALS ANIMATIONS                                                               */
.social {
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
  transition: all 1s ease;
}
.social:hover {
  opacity: 1;
  transition: 0.5s;
}
.discord:hover {
  color: rgb(109, 109, 236);
  transition: 0.2s;
}
.pinterest:hover {
  color: rgb(218, 34, 34);
  transition: 0.2s;
}
.instagram:hover {
  color: rgb(206, 82, 158);
  transition: 0.2s;
}
.linkedin:hover {
  color: rgb(4, 132, 192);
  transition: 0.2s;
}
/* no margin no padding */
.no-p-no-m {
  margin: 0 !important;
  padding: 0 !important;
}
/* fourth div */
.skills {
  background-image: linear-gradient(
    to bottom,
    #212529,
    #1e2225,
    #1c1f22,
    #191c1e,
    #17191b
  );
}
/*line breaker on drugs*/
br {
  margin-bottom: 1.2em;
}
/*DIFF SIZES*/
@media (max-width: 700px) {
  #skills {
    display: none;
    opacity: 0;
  }
  .heading {
    width: 100vw;
  }
  #pfp {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
  #about {
    width: 100%;
  }
  #skills {
    display: none;
  }
  .socials-section {
    width: 100%;
  }
}
