@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.first-div {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(23, 25, 27)),
    url("https://images5.alphacoders.com/116/1160328.jpg");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  background-image: url("./data/wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  /* filter: blur(2px) !important; */
}

.full-height {
  height: 100vh;
}
.half-height {
  height: 50vh;
}
.heading {
  width: 60vw;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
.span_one {
  transition: 1s;
}
.heading .span_two {
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
}
.heading:hover .span_one {
  opacity: 0;
  transition-duration: 0.3s;
}

.heading:hover .span_two {
  opacity: 1;
  transition-duration: 2s;
}
.span_two,
.span_one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*                                                                   SOCIALS ANIMATIONS                                                               */
.social {
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
  transition: all 1s ease;
}
.social:hover {
  opacity: 1;
  transition: 0.5s;
}
.discord:hover {
  color: rgb(109, 109, 236);
  transition: 0.2s;
}
.pinterest:hover {
  color: rgb(218, 34, 34);
  transition: 0.2s;
}
.instagram:hover {
  color: rgb(206, 82, 158);
  transition: 0.2s;
}
.linkedin:hover {
  color: rgb(4, 132, 192);
  transition: 0.2s;
}
/* no margin no padding */
.no-p-no-m {
  margin: 0 !important;
  padding: 0 !important;
}
/* fourth div */
.skills {
  background-image: linear-gradient(
    to bottom,
    #212529,
    #1e2225,
    #1c1f22,
    #191c1e,
    #17191b
  );
}
/*line breaker on drugs*/
br {
  margin-bottom: 1.2em;
}
/*                                                                      MAC'OSH WINDOW                                                                        */
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.container_window {
  border: 3px solid #0d1117;
  border-bottom: 4px solid #0d1117;
  border-radius: 5px;
}

.top {
  padding: 5px;
  margin: -1px;
  background: #0d1117;
  z-index: 2;
}
/*PROJECTS --> DATA (OVERLAY)              START*/
.content {
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  z-index: 3;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.content:hover .overlay {
  opacity: 1;
}
/*PROJECTS --> DATA (OVERLAY)           END*/
/*Diff Technologies // Proper colors and stuff*/
.bootstrap {
  background-color: #7608f7;
}
.javascript {
  background-color: #f0db4f;
  color: #323330 !important;
}
.react {
  background-color: #222222;
  color: #5fd8f9 !important;
}
.redux {
  color: #7346bb !important;
  background-color: white;
}

/*                                                                        DIFF SIZES                                                                              */
@media (max-width: 700px) {
  .heading {
    width: 85vw;
  }
  #pfp {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
  #about {
    width: 100% !important;
  }

  .socials-section {
    width: 100%;
  }
  .overlay {
    font-size: 16px;
  }
  .dont-show-on-mobile {
    display: none;
  }
  #intro-projects {
    width: 90% !important;
  }
  .stat {
    width: 95vw !important;
  }
  .project-description {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70vw !important;
  }
}
.readmore {
  background: rgba(132, 71, 246, 0.12) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;

  -webkit-backdrop-filter: blur(3.8px) !important;
  border: 1px solid rgba(132, 71, 246, 0.3) !important;
}
.sixteen-to-nine {
  aspect-ratio: 16/9;
  object-fit: cover !important;
}
.links {
  text-decoration: none !important;
  color: white;
}
#navbar-custom {
  backdrop-filter: blur(1px);
}
